.chat-container {
    background-color: rgb(31, 29, 40);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: rgb(95, 73, 156);
}

.chat-container::after {
    content: "";
    clear: both;
    display: table;
}

.chat-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chat-container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

a:hover {
    cursor: pointer !important;
}

.img-thumbnail {
    padding-left: -15px;
    background-color: rgb(55, 47, 88) !important;
    border: none !important;
    border-radius: 4px;
}

.input-message {
    background-color:aqua !important;
}

.word {
    overflow-wrap: break-word;
}