.img-thumbnail {
    padding: 20px !important;
    background-color: rgb(55, 47, 88) !important;
    border: none !important;
}

.split-line {
    border-bottom: 1px solid #fff !important;
    border-radius: 0;
    margin: 0;
}

.hover {
    border-bottom: 1px solid #eec111 !important;
}

.hover:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
    opacity: 0.8 !important;
    cursor: pointer;
}

strong {
    color: lightgray;
}

p.preview-text {
    white-space: nowrap !important; /* Запрещаем перенос строк */
    overflow: hidden !important; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis !important; /* Добавляем многоточие */
}