.img-thumbnail {
    padding: 20px !important;
    background-color: rgb(55, 47, 88) !important;
    border: none !important;
}

.table-bg {
    border-bottom: 1px solid #eec111 !important;
}

.table-bg:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
    opacity: 0.8 !important;
    cursor: pointer;
}
